{% extends "layout.html" %}
{% block content %}
  {% if orders_received %}
    <h2> Orders for you </h2>
      {% for order in orders_received %}
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">Booking id: {{ order[1].id }}</a>
                <small class="text-muted">Booked on {{ order[1].date_of_booking.strftime('%Y-%m-%d') }}</small>
              </div>
              <h3><a class="article-title" href="#}}">{{ order[0]}}</a></h3>
            </div>
          </article>
      {% endfor %}
  {% else %}
      <h5>You have not received any order.</h5>
  {% endif %}
      
{% endblock content %}